em {
  color: #e71515;
  font-weight: bold;
}

.ng-invalid.ng-touched {
  border-color: red;
}
mat-button-toggle-group {
  margin: auto;
}

.card {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #cabcbc;
}

form {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: #e71515;
  font-size: small;
}
