<div>
  <h2>Alta de Usuario</h2>
  <form class="example-container" [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)">
    <div>
      <mat-label>
        Tipo de usuario:
      </mat-label>
      <mat-button-toggle-group formControlName="userType" aria-label="Tipo de ingreso" class="user-type-selector">
        <mat-button-toggle value="Candidate">
          <mat-icon>school</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="CompanyAgent">
          <mat-icon>work</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Juan" formControlName="firstName">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Perez" formControlName="lastName">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input matInput placeholder="ejemplo@mail.com" formControlName="email">
      <mat-error *ngIf="validateControl('email') && hasError('email', 'required')">Debe ingresar un email</mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Confirmá contraseña</mat-label>
      <input matInput type="password" formControlName="confirm">
    </mat-form-field>
    <div class="button">
      <button type="submit" mat-button [disabled]="!registerForm.valid">Crear</button>
    </div>
    </form>
</div>
