:host {
  display: flex;
  justify-content: center;
}

form {
  max-width: 20rem;
}
.mat-form-field {
  min-width: 20rem;
    margin: 1rem 0 1rem 0;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.error {
  color: red;
}
